#leni-dabbing {
  min-width: 33%;
  min-height: 100%;
  margin: 0 auto;
}

.left {
  float: left;
  width: 33.333%;
  height: 100%;
  margin: 0 auto;
}

.right {
  float: right;
  width: 33.333%;
}

.middle {
  display: inline-block;
  width: 33.333%;
}

.side-text {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.full-page {
  width: 100%;
  height: 100%;
  position: fixed;
}

.leni-head, rest-of-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.leni-head {
  z-index: 10;
}

body {
  background-color: #39ff14;
}

.move-horizontal h1 {
  animation: marquee-horizontal 10s linear infinite;
}

.move-up h1 {
  display: inline-block;
  padding-top: 100%;
  animation: marquee-up 2s linear infinite;
}

.move-down h1 {
  display: inline-block;
  padding-bottom: 100%;
  animation: marquee-down 2s linear infinite;
}

@keyframes marquee-horizontal {
  from {transform: translateX(-100%); }
  to {transform: translateX(100%); }
}

@keyframes marquee-up {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, -100%); }
}

@keyframes marquee-down {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, 100%); }
}